@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Classify Abstract Paintings</h1>
    
    <p></p>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="/artstyleexamples/abszexp47.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Abstract Expressionism</h5>
                    <p class="card-text">Abstract expressionism is a post–World War II art movement in American painting, developed in New York...</p>
                    <a href="https://en.wikipedia.org/wiki/Abstract_expressionism" class="btn btn-outline-primary">Check it</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="/artstyleexamples/action39.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Action Painting</h5>
                    <p class="card-text">Action painting, sometimes called "gestural abstraction", is a style of painting in which paint is spontaneously dribbled, splashed or smeared onto the canvas...</p>
                    <a href="https://en.wikipedia.org/wiki/Action_painting" class="btn btn-outline-primary">Check it</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="/artstyleexamples/artinf46.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Art Informel</h5>
                    <p class="card-text">Informalism or Art Informel is a pictorial movement from the 1943–1950s,[1] that includes all the abstract and gestural tendencies that developed in France and the rest of Europe during the World War II, similar to American abstract expressionism...</p>
                    <a href="https://en.wikipedia.org/wiki/Informalism" class="btn btn-outline-primary">Check it</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="/artstyleexamples/min310.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minimalism</h5>
                    <p class="card-text">In visual arts, music and other media, minimalism is an art movement that began in post–World War II in Western art, most strongly with American visual arts...</p>
                    <a href="https://en.wikipedia.org/wiki/Minimalism" class="btn btn-outline-primary">Check it</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-lg">
                <img src="/artstyleexamples/opart84.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Op Art</h5>
                    <p class="card-text">Op art, short for optical art, is a style of visual art that uses optical illusions...</p>
                    <a href="https://en.wikipedia.org/wiki/Op_art" class="btn btn-outline-primary">Check it</a>
                </div>
            </div>
        </div>
    </div>

    <p></p>

    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-secondary shadow" href="/home/classifier" role="button">Try it!</a>
    </div>

</div>
